<!DOCTYPE html>
<html xmlns:th="http://ww.thymeleaf.org">

<head>
    <title>Ingredients List</title>
</head>

<body>
    <header>
        <h1>List Of In Stock Ingredients</h1>
    </header>

    <ul>
        <!--List view/control needs to go here-->
    </ul>

    <!--Will need work to add javascript to make work-->
    <h1>Add or Delete Ingredients</h1>
    <form>
        <label>Add Ingredient</label><br>
        <input type="text"><br><br>
        <label>Delete Ingredient</label><br>
        <input type="text">
    </form>

</body>
</html>