<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="${recipeModel.name}">A Recipe</title>
    <link rel="stylesheet" href="css/mixed-drinking-app.css" />
  </head>
  <body>
    <header>
      <h1 th:text="${recipeModel.name}"></h1>
    </header>

    <main>
      <div id="liquors">
        <ul>
          <li th:each="recipe: ${recipeModel}"></li>
        </ul>
      </div>

      <section id="recipesLink">
        <a href="http://localhost:8080/show-recipes"
          >Back to Available Recipes</a
        >
      </section>
    </main>

    <footer>
      <small>Copyright JSON and the Argonauts 2020</small>
    </footer>
  </body>
</html>
