<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="${recipeModel.name}">A Recipe</title>
    <link
      th:href="@{/css/mixed-drinking-app.css}"
      href="../static/css/mixed-drinking-app.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <header>
      <h1 th:text="${recipeModel.name}"></h1>
    </header>

    <main>
      <div class="tear">
        <img
          class="theImage"
          th:each="recipe: ${recipeModel}"
          th:src="${recipeModel.image}"
        />
      </div>
      <div class="apart">
        <div class="inner">
          <h3>Liquors Required</h3>
          <ul>
            <li
              th:each="recipe: ${recipeModel}"
              th:text="${recipeModel.liquors}"
            ></li>
          </ul>

          <h3>Mixers Required</h3>
          <ul>
            <li
              th:each="recipe: ${recipeModel}"
              th:text="${recipeModel.mixers}"
            ></li>
          </ul>

          <p th:text="${recipeModel.instructions}"></p>
        </div>
      </div>

      <div class="not">
        <section id="recipesLink">
          <a href="http://localhost:8080/show-recipes"
            >Back to Available Recipes</a
          >
        </section>

        <footer>
          <small>&copy; JSON and the Argonauts 2020</small>
        </footer>
      </div>
    </main>
  </body>
</html>
