<!DOCTYPE html>

<html xmlns:th="http://ww.thymeleaf.org">
<link rel="stylesheet" href="../static/css/mixed-drinking-app.css" />

  <head>
    <title>List of All Drinks Available</title>
  </head>

  <body>
    <header>
      <h1>List of All Drinks</h1>
    </header>

    <main>
      <img th:src="@{images/ingredients.jpg}" />

      <ul>
        <li th:each="recipe: ${recipeModel}">
          <a th:href="@{/show-recipe(id=${recipe.id})}"
          th:text="${recipe.name}"></a>
        </li>
      </ul>

      <section id="RecipeResultsLink">
        <a href="http://localhost:8080/show-ingredients"
          >Go Back to Ingredients</a
        >
      </section>
    </main>

    <footer>
      <small>&copy; JSON and the Argonauts 2020 </small>
    </footer>
  </body>
</html>
