<!DOCTYPE html>
<html xmlns:th="http://ww.thymeleaf.org">
<link rel="stylesheet" href="../static/css/mixed-drinking-app.css" />

  <head>
    <title>Welcome to Mix-IT!</title>
  </head>

  <body>
    <h1>Welcome to Mix-It!</h1>

    <pre>
      Bartending can be made up to be quite a serious skill in movies like James
      Bond, Cocktail, Casablanca, and Lost in Translation. Lots of us have
      desired to look into becoming a cocktail-master whether its to impress your
      friends at parties, to be frugal and drink at home, or even at times where
      you’re forced to stay inside! It can be quite the daunting task both
      researching the types of drinks that are out there and also comparing to
      what you have available to you. Thanks to Mix-It, you can effortlessly
      select what you have at your disposal and instantly have recipes at the
      ready. Want to find some new drinks? Even if you don’t have the
      ingredients you need you can find the one or two things you may need to
      pick up at the store to try something new!
    </pre>

    <section id="RecipeResultsLink">
      <a href="http://localhost:8080/show-ingredients"
        >Click here to select Ingredients</a
      >
    </section>

    <footer>Copyright JSON and the Argonauts 2020</footer>
  </body>
</html>
